$animate: all 0.2s ease-in-out;

// Header
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(../img/bg5.jpg);
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .sticky {
        position: fixed;
        width: 100vw;
        top: 0;
        z-index: 100000;

        header {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            z-index: 10000;

            &.fixed {
                background: $primary;
                padding-top: 5px;
                padding-bottom: 5px;

                .accent {
                    color: $light;
                }
            }

            .logo {
                display: flex;
                align-items: center;

                img {
                    margin-right: 10px;
                }

                .name {
                    color: $light;
                    text-decoration: none;
                    font-size: 24px;
                    font-weight: 700;
                    letter-spacing: 1px;
                }
            }

            .nav {
                position: relative;
                cursor: pointer;
                width: 35vw;

                ul {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    list-style: none;

                    .hoverC {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;

                        a {
                            font-size: 20px;
                            font-weight: 700;
                            text-decoration: none;
                            color: $light;
                        }

                        .hover {
                            text-align: center;
                            transition: $animate;
                            position: relative;

                            &:before,
                            &:after {
                                content: "";
                                position: absolute;
                                bottom: 2px;
                                width: 0px;
                                height: 2px;
                                transition: $animate;
                                transition-duration: 0.2s;
                                opacity: 0;
                                background-color: darken($light, 0%);
                            }

                            &.hoverL {
                                &:before {
                                    left: 20%;
                                }

                                &:after {
                                    right: 20%;
                                }
                            }

                        }

                        &:hover {
                            cursor: pointer;

                            .hover {

                                &:before,
                                &:after {
                                    width: 100%;
                                    opacity: 1;
                                }

                                &.hover-3,
                                &.hover-4 {

                                    &:before,
                                    &:after {
                                        width: 50%;
                                    }
                                }
                            }
                        }

                        &:last-child {
                            a {
                                border: $light 2px solid;
                                border-radius: 10px;
                                padding: 5px;
                                color: $light;
                            }
                        }

                        &:last-child:hover {
                            a {
                                background: $light;
                                color: $dark;
                            }
                        }
                    }
                }
            }
        }
    }

    .content {
        position: relative;
        max-width: 750px;
        margin-left: 100px;

        h2 {
            justify-self: start;
            color: #fff;
            font-size: 60px;
        }

        h4 {
            text-align: start;
            color: #fff;
            font-size: 30px;
        }

        .book {
            font-size: 1rem;
            font-weight: 700;
            padding: 10px 100px;
            margin-left: 220px;
            color: #fff;
            background: $dark;
            border: $dark 2px solid;
            border-radius: 100px;
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0);
                transition: 0.3s;
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;

        .info {
            display: flex;
            flex-direction: row;
            padding: 40px 20px;
            justify-content: space-between;
            align-items: center;
            z-index: 10000;
            background: $dark;
            color: #fff;
            width: 70%;

            .infoCard {
                width: 33%;
                text-align: start;

                div {
                    padding: 2.5px 0;
                }

                i {
                    color: $primary;
                    float: left;
                    font-size: 25px;
                }
            }
        }

        .social {
            align-self: flex-end;
            display: flex;
            flex-direction: row;
            height: 30%;
            width: 30%;
            align-items: center;
            z-index: 10000;
            background: $primary;
            justify-content: space-around;

            a {
                margin-left:0;
                padding:0;
         
                i {
                    margin-left: 0 !important;
                    justify-self: start;
                    color: $dark;
                    float: left;
                    font-size: 25px;

                    &:first-child {
                        margin-left: 100px;
                    }

                    &:hover {
                        color: $lightest;
                        cursor: pointer;
                    }
                }
            }

            svg {
                width: 30px;

                .st0 {
                    fill: #fff;
                }

                .st1 {
                    fill: #000;
                }

            }

            svg:hover {
                .st0 {
                    fill: #000;
                }

                .st1 {
                    fill: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .banner {
        position: relative;

        .content {
            position: relative;
            max-width: 100%;
            margin-left: 10%;

            h2 {
                justify-self: start;
                color: $light;
                font-size: 100%;
            }

            h4 {
                text-align: start;
                color: #fff;
                font-size: 200%;
            }

            .book {
                margin-top: 10%;
                margin-left: -8%;
                margin-right: 10%;
            }

        }

        .footer {
            flex-direction: column;

            .info {
                width: 100%;
                flex-direction: column;
                padding: 1%;
                justify-content: space-evenly;

                .infoCard {
                    width: 100%;
                    justify-content: center;
                    text-align: center;
                    margin: auto;
                    display: flex;
                    i{
                        display:none;
                    }
                }
            }

            .social {
                width: 100%;
                height: 100%;
                padding: 1%;
                justify-content: space-evenly;
                margin-right: auto;

                i:first-child {
                    margin-left: 0;
                }
            }
        }

        .sticky {
            header {
                padding: 1%;
                background: $primary;

                .fixed {
                    padding: 2%;
                }

                .logo {
                    img {
                        width: 20%;
                    }
                }

                .nav {
                    .menu {
                        visibility: hidden;
                        display: flex;
                        flex-direction: column;
                        position: fixed;
                        align-items: center;
                        justify-content: center;
                        align-content: center;
                        left: -50%;
                        top: -65%;
                        width: 200%;
                        height: 200%;
                        margin: auto;
                        background: rgba($dark, 0.8);

                        li {
                            padding-top: 1%;

                            a {
                                font-size: 200%;
                            }
                        }
                    }

                    .toggler {
                        position: absolute;
                        right: 0;
                        z-index: 2;
                        cursor: pointer;
                        width: 100px;
                        height: 100px;
                        opacity: 0;

                        &:checked+.hamburger {
                            div {
                                transform: rotate(135deg);

                                &::before,
                                &::after {
                                    top: 0;
                                    transform: rotate(90deg);
                                }
                            }
                        }

                        &:checked~.menu {
                            visibility: visible;

                            div {
                                transform: scale(1);
                                transition-duration: 0.75s;

                                div {
                                    opacity: 1;
                                    transition: opacity 0.4s ease 0.4s;
                                }
                            }
                        }
                    }

                    .hamburger {
                        position: absolute;
                        top: -50px;
                        right: 0;
                        z-index: 1;
                        width: 60px;
                        height: 100px;
                        padding: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        div {
                            position: relative;
                            flex: none;
                            width: 100%;
                            height: 5px;
                            background: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 5px;
                            transition: all 0.4s ease;

                            &::before,
                            &::after {
                                content: '';
                                position: absolute;
                                z-index: 1;
                                top: -10px;
                                width: 100%;
                                height: 5px;
                                background: inherit;
                                border-radius: 5px;
                            }

                            &::after {
                                top: 10px;
                            }
                        }
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 1201px) {
    .toggler {
        visibility: hidden;
    }

    .banner {
        .sticky {
            header {
                padding: 40px 100px;

                .logo {
                    img {
                        width: 3vw;
                    }
                }
            }
        }
    }
}