#services {
    background: $dark;
    padding: 10%;
    padding-top: 3%;
    text-align: center;

    h2 {
        color: $accent;
    }

    @include del($primary, $accent, $light);

    .text {
        position: relative;
        color: #fff;
        max-width: 40%;
        margin: 2% auto;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-top: 10%;
        width: 70%;
        margin: 3% auto;
        color: $lightest;

        .serviceBx {
            position: relative;
            width: 20%;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;


            img {
                border: $accent 2px solid;
                padding: 10px;
                max-width: 100px;
                color: #fff;
            }

            h2 {
                font-weight: 800;
                font-size: 17px;
                letter-spacing: 1px;
                color: $light;
                margin-top: 10px;
            }

            p {
                padding-top: 20px;
                color: $primary;
            }

        }
    }

}

@media screen and (max-width:1200px) {
    #services {

        .text {
            max-width: 100%;
            padding-bottom: 20px;
        }

        .container {
            width: 100%;
            justify-content: space-between;

            .serviceBx {
                padding: 0 50px;
            }
        }
    }
}