#services {
    background: $dark;
    padding: 100px;
    padding-top:50px;
    text-align: center;

    h2 {
        color: $accent;
    }

    @include del($primary, $accent, $light);

    .text {
        position: relative;
        color: #fff;
        max-width: 30vw;
        margin: 10px auto;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-top: 60px;
        width: 50vw;
        margin: 50px auto;
        color: $lightest;

        .serviceBx {
            position: relative;
            width: 13vw;
            height: 15vh;
            align-items: center;
            display: flex;
            flex-direction: column;
            ;

            img {
                border: $accent 2px solid;
                padding: 10px;
                max-width: 100px;
                color: #fff;
            }

            h2 {
                font-weight: 800;
                font-size: 17px;
                letter-spacing: 1px;
                color: $light;
                margin-top:10px;
            }
            p{
                padding-top:20px;
                color:$primary;
            }

        }
    }

}