.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/bg5.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg5.jpg);
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .sticky {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 100000;
}

.banner .sticky header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 10000;
}

.banner .sticky header.bla {
  background: #767676;
  padding: 5px 100px;
}

.banner .sticky header.bla .accent {
  color: #A4A4A4 !important;
}

.banner .sticky header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .sticky header .logo img {
  width: 3vw;
  margin-right: 10px;
}

.banner .sticky header .logo .name {
  color: #A4A4A4;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

.banner .sticky header .nav {
  position: relative;
  cursor: pointer;
  width: 35vw;
}

.banner .sticky header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

.banner .sticky header .nav ul .hoverC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .sticky header .nav ul .hoverC a {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #A4A4A4;
}

.banner .sticky header .nav ul .hoverC .hover {
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.banner .sticky header .nav ul .hoverC .hover:before, .banner .sticky header .nav ul .hoverC .hover:after {
  content: "";
  position: absolute;
  bottom: 2px;
  width: 0px;
  height: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  opacity: 0;
  background-color: #a4a4a4;
}

.banner .sticky header .nav ul .hoverC .hover.hoverL:before {
  left: 20%;
}

.banner .sticky header .nav ul .hoverC .hover.hoverL:after {
  right: 20%;
}

.banner .sticky header .nav ul .hoverC:hover {
  cursor: pointer;
}

.banner .sticky header .nav ul .hoverC:hover .hover:before, .banner .sticky header .nav ul .hoverC:hover .hover:after {
  width: 100%;
  opacity: 1;
}

.banner .sticky header .nav ul .hoverC:hover .hover.hover-3:before, .banner .sticky header .nav ul .hoverC:hover .hover.hover-3:after, .banner .sticky header .nav ul .hoverC:hover .hover.hover-4:before, .banner .sticky header .nav ul .hoverC:hover .hover.hover-4:after {
  width: 50%;
}

.banner .sticky header .nav ul .hoverC:last-child a {
  border: #A4A4A4 2px solid;
  border-radius: 10px;
  padding: 5px;
  color: #A4A4A4;
}

.banner .sticky header .nav ul .hoverC:last-child:hover a {
  background: #A4A4A4;
  color: #767676;
}

.banner .content {
  position: relative;
  max-width: 750px;
  margin-left: 100px;
}

.banner .content h2 {
  -ms-grid-column-align: start;
      justify-self: start;
  color: #767676;
  font-size: 60px;
}

.banner .content h4 {
  text-align: start;
  color: #fff;
  font-size: 30px;
}

.banner .content .book {
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 100px;
  margin-left: 220px;
  color: #fff;
  background: #A4A4A4;
  border: #A4A4A4 2px solid;
  border-radius: 100px;
  cursor: pointer;
}

.banner .content .book:hover {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner .info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  bottom: 0;
  left: 0;
  width: 60vw;
  padding: 40px 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
  background: #090909;
  color: #fff;
}

.banner .info .infoCard {
  width: 30vw;
  text-align: start;
}

.banner .info .infoCard div {
  padding: 2.5px 0;
}

.banner .info .infoCard i {
  color: #767676;
  float: left;
  font-size: 25px;
}

.banner .social {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  bottom: 0;
  right: 0;
  height: 6.3vh;
  width: 39.1vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
  background: #767676;
}

.banner .social i {
  margin: 0 20px;
  -ms-grid-column-align: start;
      justify-self: start;
  color: #090909;
  float: left;
  font-size: 25px;
}

.banner .social i:first-child {
  margin-left: 100px;
}

.banner .social i:hover {
  color: #CFCFCF;
  cursor: pointer;
}

#services {
  background: #090909;
  padding: 100px;
  padding-top: 50px;
  text-align: center;
}

#services h2 {
  color: #A4A4A4;
}

#services .flip {
  position: relative;
  padding: 5px;
  margin: 15px 0;
}

#services .flip .deg1 {
  position: absolute;
  bottom: 2px;
  left: -30px;
  right: 0;
  width: 6px;
  height: 6px;
  content: '';
  background: #A4A4A4;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0 auto;
}

#services .flip .deg2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10px;
  height: 10px;
  content: '';
  background: #767676;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0 auto;
}

#services .flip .deg3 {
  position: absolute;
  bottom: 2px;
  left: 30px;
  right: 0;
  width: 6px;
  height: 6px;
  content: '';
  background: #A4A4A4;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0 auto;
}

#services .flip::before {
  position: absolute;
  bottom: 4px;
  left: 100px;
  right: 0;
  content: '';
  width: 40px;
  height: 1px;
  background: #FFFFFF;
  margin: 0 auto;
}

#services .flip::after {
  position: absolute;
  bottom: 4px;
  left: -100px;
  right: 0;
  content: '';
  width: 40px;
  height: 1px;
  background: #FFFFFF;
  margin: 0 auto;
}

#services .text {
  position: relative;
  color: #fff;
  max-width: 30vw;
  margin: 10px auto;
}

#services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 60px;
  width: 50vw;
  margin: 50px auto;
  color: #CFCFCF;
}

#services .container .serviceBx {
  position: relative;
  width: 13vw;
  height: 15vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#services .container .serviceBx img {
  border: #A4A4A4 2px solid;
  padding: 10px;
  max-width: 100px;
  color: #fff;
}

#services .container .serviceBx h2 {
  font-weight: 800;
  font-size: 17px;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin-top: 10px;
}

#services .container .serviceBx p {
  padding-top: 20px;
  color: #767676;
}

#prices {
  background: #CFCFCF;
  text-align: center;
}

#prices .heading {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#prices .flip {
  position: relative;
  padding: 5px;
  margin: 15px 0;
}

#prices .flip .deg1 {
  position: absolute;
  bottom: 2px;
  left: -30px;
  right: 0;
  width: 6px;
  height: 6px;
  content: '';
  background: #767676;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0 auto;
}

#prices .flip .deg2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10px;
  height: 10px;
  content: '';
  background: #A4A4A4;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0 auto;
}

#prices .flip .deg3 {
  position: absolute;
  bottom: 2px;
  left: 30px;
  right: 0;
  width: 6px;
  height: 6px;
  content: '';
  background: #767676;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0 auto;
}

#prices .flip::before {
  position: absolute;
  bottom: 4px;
  left: 100px;
  right: 0;
  content: '';
  width: 40px;
  height: 1px;
  background: #090909;
  margin: 0 auto;
}

#prices .flip::after {
  position: absolute;
  bottom: 4px;
  left: -100px;
  right: 0;
  content: '';
  width: 40px;
  height: 1px;
  background: #090909;
  margin: 0 auto;
}

#prices .text {
  max-width: 70vw;
  font-size: 20px;
  margin: auto;
}

#prices .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#prices .table .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10vh;
}

#prices .table .col .priceL {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}

#prices .table .col .priceL .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 12px;
  z-index: 0;
  position: relative;
}

#prices .table .col .priceL .service h2 {
  padding: 0 10px;
  background: #CFCFCF;
  color: #090909;
}

#prices .table .col .priceL .service h2:last-child {
  font-weight: 500;
}

#prices .table .col .priceL .service::after {
  position: absolute;
  bottom: 35%;
  left: 100px;
  right: 0;
  content: '';
  width: 80%;
  height: 1px;
  border-bottom: 1px dashed #A4A4A4;
  z-index: -1;
}

#book {
  min-height: 50vh;
  background: #090909;
  width: 99vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-bottom: 2vh;
}

#book header .flip {
  position: relative;
  padding: 5px;
  margin: 15px 0;
}

#book header .flip .deg1 {
  position: absolute;
  bottom: 2px;
  left: -30px;
  right: 0;
  width: 6px;
  height: 6px;
  content: '';
  background: #A4A4A4;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0 auto;
}

#book header .flip .deg2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10px;
  height: 10px;
  content: '';
  background: #767676;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0 auto;
}

#book header .flip .deg3 {
  position: absolute;
  bottom: 2px;
  left: 30px;
  right: 0;
  width: 6px;
  height: 6px;
  content: '';
  background: #A4A4A4;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0 auto;
}

#book header .flip::before {
  position: absolute;
  bottom: 4px;
  left: 100px;
  right: 0;
  content: '';
  width: 40px;
  height: 1px;
  background: #FFFFFF;
  margin: 0 auto;
}

#book header .flip::after {
  position: absolute;
  bottom: 4px;
  left: -100px;
  right: 0;
  content: '';
  width: 40px;
  height: 1px;
  background: #FFFFFF;
  margin: 0 auto;
}

#book header h2 {
  color: #767676;
  padding-top: 50px;
}

#book header p:last-child {
  color: #A4A4A4;
  font-size: 20px;
  width: 70vw;
  margin: auto;
  padding-bottom: 50px;
}

#book .container {
  min-height: 40vh;
  width: 70vw;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  color: #767676;
}

#book .container .staff {
  min-height: 40vh;
  width: 18vw;
  border: #A4A4A4 2px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #090909;
}

#book .container .staff .img {
  padding-top: 20px;
  height: 15vh;
  width: 7vw;
  border-radius: 50%;
}

#book .container .staff:hover .img {
  -webkit-box-shadow: 0px 0px 0px 2px #A4A4A4;
  box-shadow: 0px 0px 0px 2px #A4A4A4;
}

#book .container .staff .text {
  width: 50%;
  padding-bottom: 20px;
}

#book .container .staff .text h3 {
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#book .container .staff .text span {
  font-size: 13px;
  color: #A4A4A4;
}

#book .container .staff .text p {
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

#about {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .contentBx {
  background: #CFCFCF;
  padding: 100px;
  width: 50%;
}

#about .contentBx .heading {
  color: #090909;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

#about .contentBx .text {
  color: #090909;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}

#about .imgBx {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/bg4.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg4.jpg);
  width: 50%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
