* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

// Header
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url(../img/backgrounds/_MG_0542-HDR.jpg);
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        z-index: 10000;

        .logo {
            display: flex;
            align-items: center;

            img {
                width: 3vw;
                margin-right: 10px;
            }

            .name {
                color: #fff;
                text-decoration: none;
                font-size: 24px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 1px;
            }
        }

        .toggle {
            position: relative;
            width: 36px;
            height: 38px;
            background: url(../img/toggle.png);
            background-size: cover;
            cursor: pointer;
        }
    }

    .content {
        position: relative;
        max-width: 750px;
        margin-left: 100px;

        h2 {
            justify-self: start;
            color: #198EA4;
            font-size: 60px;
        }

        h4 {
            text-align: start;
            color: #fff;
            font-size: 30px;
        }

        .book {
            font-size: 1rem;
            font-weight: 700;
            padding: 10px 100px;
            margin-left: 220px;
            color: #fff;
            background: #ED4B22;
            border: #ED4B22 2px solid;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0);
                transition: 0.3s;
            }
        }
    }


    .info {
        position: absolute;
        display: flex;
        flex-direction: row;
        bottom: 0;
        left: 0;
        width: 60vw;
        padding: 40px 100px;
        justify-content: space-between;
        align-items: center;
        z-index: 10000;
        background: #363b42;
        color: #fff;

        .infoCard {
            width: 30vw;
            text-align: start;

            i {
                color: #198EA4;
                float: left;
                font-size: 25px;
            }
        }
    }

    .social {
        position: absolute;
        display: flex;
        flex-direction: row;
        bottom: 0;
        right: 0;
        height: 6.3vh;
        width: 39.1vw;
        align-items: center;
        z-index: 10000;
        background: #1f7177;
        color: #fff;

        i {
            margin: 0 20px;
            justify-self: start;
            color: #fff;
            float: left;
            font-size: 25px;

            &:first-child {
                margin-left: 100px;
            }

            &:hover {
                color: #ED4B22;
                cursor: pointer;
            }
        }
    }
}

// About
.about {
    position: relative;
    width: 100%;
    display: flex;

    .contentBx {
        background: #164C51;
        padding: 100px;
        width: 50%;

        .heading {
            color: #fff;
            font-size: 30px;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }

        .text {
            color: #fff;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }

    .imgBx {
        background: linear-gradient(rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.7)), url(../img/bg4.jpg);
        width: 50%;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

// Services

.services {
    background: #363b42;
    padding: 100px;
    text-align:center;

    h2 {
        color: #ED4B22;
    }

    .text {
        position:relative;
        color: #fff;
        max-width: 50vw;
        margin:10px auto;
    }

    .flip {
        position: relative;
        padding: 5px;

        .deg1 {
            position: absolute;
            bottom: 2px;
            left: -30px;
            right: 0;
            width: 6px;
            height: 6px;
            content: '';
            background: #164C51;
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg);
            margin: 0 auto;
        }

        .deg2 {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 10px;
            height: 10px;
            content: '';
            background: #ED4B22;
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg);
            margin: 0 auto;
        }

        .deg3 {
            position: absolute;
            bottom: 2px;
            left: 30px;
            right: 0;
            width: 6px;
            height: 6px;
            content: '';
            background: #164C51;
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg);
            margin: 0 auto;
        }

        &::before {
            position: absolute;
            bottom: 4px;
            left: 100px;
            right: 0;
            content: '';
            width: 40px;
            height: 1px;
            background: #198EA4;
            margin: 0 auto;
        }

        &::after {
            position: absolute;
            bottom: 4px;
            left: -100px;
            right: 0;
            content: '';
            width: 40px;
            height: 1px;
            background: #198EA4;
            margin: 0 auto;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-top: 60px;

        .serviceBx {
            position: relative;
            background: #E6DDA5;
            width: 150px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                img {
                    max-width: 100px;
                }

                h2 {
                    font-weight: 500;
                    font-size: 14px;
                    letter-spacing: 1px;
                }
            }
        }
    }

}