@import '_utils.scss';
@import '_banner.scss';
@import '_services.scss';
@import '_prices.scss';
@import '_book';
@import '_modal';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position:relative;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


// About
#about {
    position: relative;
    width: 100%;
    display: flex;

    .contentBx {
        background: $lightest;
        padding: 100px;
        width: 50%;

        .heading {
            color: $dark;
            font-size: 30px;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }

        .text {
            color: $dark;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }

    .imgBx {
        background: linear-gradient(rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.7)), url(../img/bg4.jpg);
        width: 50%;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 1200px){
    @include del($dark, $accent, $dark);
    #about{
        .contentBx{
            width:100%;
            padding:30px;
            text-align:center;
        }
        .imgBx{
            display:none;
        }
    }
}