.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/backgrounds/_MG_0542-HDR.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/backgrounds/_MG_0542-HDR.jpg);
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 10000;
}

.banner header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner header .logo img {
  width: 3vw;
  margin-right: 10px;
}

.banner header .logo .name {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.banner header .toggle {
  position: relative;
  width: 36px;
  height: 38px;
  background: url(../img/toggle.png);
  background-size: cover;
  cursor: pointer;
}

.banner .content {
  position: relative;
  max-width: 750px;
  margin-left: 100px;
}

.banner .content h2 {
  -ms-grid-column-align: start;
      justify-self: start;
  color: #CFAA81;
  font-size: 60px;
}

.banner .content h4 {
  text-align: start;
  color: #fff;
  font-size: 30px;
}

.banner .content .book {
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 100px;
  margin-left: 220px;
  color: #fff;
  background: #97330B;
  border: #97330B 2px solid;
  border-radius: 5px;
  cursor: pointer;
}

.banner .content .book:hover {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner .info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  bottom: 0;
  left: 0;
  width: 60vw;
  padding: 40px 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
  background: #422E1F;
  color: #fff;
}

.banner .info .infoCard {
  width: 30vw;
  text-align: start;
}

.banner .info .infoCard i {
  color: #B66A20;
  float: left;
  font-size: 25px;
}

.banner .social {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  bottom: 0;
  right: 0;
  height: 6.3vh;
  width: 39.1vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
  background: #B66A20;
}

.banner .social i {
  margin: 0 20px;
  -ms-grid-column-align: start;
      justify-self: start;
  color: #422E1F;
  float: left;
  font-size: 25px;
}

.banner .social i:first-child {
  margin-left: 100px;
}

.banner .social i:hover {
  color: #F3E8DB;
  cursor: pointer;
}

.services {
  background: #422E1F;
  padding: 100px;
  text-align: center;
}

.services h2 {
  color: #97330B;
}

.services .text {
  position: relative;
  color: #fff;
  max-width: 50vw;
  margin: 10px auto;
}

.services .flip {
  position: relative;
  padding: 5px;
}

.services .flip .deg1 {
  position: absolute;
  bottom: 2px;
  left: -30px;
  right: 0;
  width: 6px;
  height: 6px;
  content: '';
  background: #B66A20;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0 auto;
}

.services .flip .deg2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10px;
  height: 10px;
  content: '';
  background: #F3E8DB;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0 auto;
}

.services .flip .deg3 {
  position: absolute;
  bottom: 2px;
  left: 30px;
  right: 0;
  width: 6px;
  height: 6px;
  content: '';
  background: #B66A20;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0 auto;
}

.services .flip::before {
  position: absolute;
  bottom: 4px;
  left: 100px;
  right: 0;
  content: '';
  width: 40px;
  height: 1px;
  background: #F3E8DB;
  margin: 0 auto;
}

.services .flip::after {
  position: absolute;
  bottom: 4px;
  left: -100px;
  right: 0;
  content: '';
  width: 40px;
  height: 1px;
  background: #F3E8DB;
  margin: 0 auto;
}

.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 60px;
  color: #F3E8DB;
}

.services .container .serviceBx {
  position: relative;
  background: #F3E8DB;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .container .serviceBx div img {
  max-width: 100px;
}

.services .container .serviceBx div h2 {
  font-weight: 800;
  font-size: 17px;
  letter-spacing: 1px;
  color: #97330B;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.about {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .contentBx {
  background: #F3E8DB;
  padding: 100px;
  width: 50%;
}

.about .contentBx .heading {
  color: #422E1F;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.about .contentBx .text {
  color: #422E1F;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}

.about .imgBx {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/bg4.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg4.jpg);
  width: 50%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
